/* 
  Normalize and Standard Values
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
*,
:before, // Single Quote should be best-use since old browsers still don't use double.
:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  // scroll-behavior: smooth;

  font-family: "Montserrat", sans-serif;
}
body {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;

  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-font);

  background-color: var(--color-bg-second);
}

picture,
img {
  width: 100%;
  height: 100%;
  display: block;
}
button {
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* 
  Font
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: --font-header-weight;
}
h1 {
  font-size: clamp(3.8rem, 10vw, 6rem);
  // Diffrent Line-height could be relevant on all headers    .
}
h2 {
  font-size: 3.5rem;
  &.clamp {
    font-size: clamp(2rem, 10vw, 4.5rem);
  }
  &.slide {
    display: block;
    overflow: hidden;
  }
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

/*
    Text Sizing
*/
.small-txt {
  font-size: 0.75rem;
}
.bold,
b {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
p {
  max-width: 58ch;
}
a {
  color: --color-a;
  font-size: --a-size;
  font-weight: --a-weight;

  text-decoration: none;
  &.underline {
    text-decoration: underline;
  }
  &.animate {
    &:hover,
    &:focus {
      transition: 0.3s linear;
      transform: scale(1.1);
    }
  }
}
.uppercase {
  text-transform: uppercase;
}

/* 
  Global Class'
*/
.pack {
  width: 100%;
  height: auto;
  position: relative; // If child elements need to use position: absolute.
  // Could use a max-width.
}
.fixed {
  position: fixed;
  &.zero--100 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

// Flex
.flex {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }
  &.column {
    flex-direction: column;
    &--sb {
      justify-content: space-between;
    }
    &--sa {
      justify-content: space-around;
    }
    &--se {
      justify-content: space-evenly;
    }
  }
  &.row {
    flex-direction: row;
    &--sb {
      justify-content: space-between;
      align-items: center;
    }
    &--sa {
      justify-content: space-around;
      align-items: center;
    }
    &--se {
      justify-content: space-evenly;
      align-items: center;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
}
/*
  Common Items
*/
ul {
  #nav &.desktop {
    //Works on TheNavigation
    & li {
      margin: 0 1rem;
    }
    & li:last-of-type {
      //Removes margin from the right most li in our navigation list.
      margin-right: 0;
    }
  }
  #nav & {
    & li {
      & a {
        color: var(--color-a);
        &.router-link-exact-active {
          color: var(--color-a-active);
        } 
      }
    }
  }
  &.clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/*
  Animations
*/
.display {
  &--block {
    display: block;
  }
  &--flex {
    display: flex;
  }
  &--inline-block {
    display: inline-block;
  }
  &--inline {
    display: inline;
  }
  &--none {
    display: none;
  }
}
.nav--transition {
  transition: opacity 1s linear;
  opacity: 1;
}