/*
  CSS Variables
*/
:root {
    /* 
          Colors
      */
    --color-first: red;
    --color-second: blue;
    /* Button */
    --color-btn: rgb(255, 145, 0);
    --color-btn-bg: #ff6600;
    --color-btn-border: transparent;
    /* Hero */
    --color-hero: rgb(45, 187, 243);

    --color-bg-first: #1f2ac2;
    --color-bg-first-5: #3763dd;
    --color-bg-second: white;
    --color-font: black;
    --color-font-second: white;
    --color-font-third: rgb(68, 68, 68);
    --color-a: black;
    --color-a-second: white;
    --color-a-active: rgb(255, 102, 0);
    /* 
          Typo
      */
    --font-header-weight: 700;
    --font-btn: .8rem;
    --a-weight: 700;
    --a-size: 1.5rem;
    /* 
      Spacing
    */
    --space: 1rem;
    --padding: var(--space);
    --padding-normal: calc(var(--padding) * 2);
    --padding-5: 5%;
    --padding-2: 2%;
    --padding-vh-normal: 2vh;
    --margin-outer: calc(var(--space) * .5);
    --margin-large: calc(var(--space) * 3);
    --margin-5: 5%;
    /* 
      Borders
    */
    --border-round-edge: 15px;
  }