/*
  CSS Variables
*/
:root {
    /* 
          Colors
      */
    --color-first: red;
    --color-second: blue;
    /* Button */
    --color-btn: orange;
    --color-btn-bg: rgb(255, 102, 0);
    --color-btn-border: transparent;


    --color-bg-first: #7ddbfd;
    --color-bg-second: white;
    --color-font: black;
    --color-a: black;
    --color-a-active: blue;
    /* 
          Typo
      */
    --font-header-weight: 700;
    --font-btn: 1rem;
    --a-weight: 400;
    --a-size: 1.5rem;
    /* 
      Spacing
    */
    --padding: 1rem;
    --padding-normal: calc(var(--padding) * 2);
    --padding-5: 5%;
  }